.download-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #333;
    background-color: #f9f9f9;

    overflow: auto;
}

.download-buttons-container h2 {
    margin-bottom: 2vh;
}

.buttons {
    display: flex;
    gap: 2vw; /* Space between buttons */
}

.apple-store, .google-play {
    display: inline-block;
    padding: 2vh 4vw;
    border: 0.2vh solid #ccc;
    border-radius: 1vh;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.apple-store:hover, .google-play:hover {
    background-color: #f0f0f0;
    color: #333;
}

.apple-store span, .google-play span {
    display: block;
    margin-top: 0.5vh;
}
