
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lexend", sans-serif;
    justify-content: flex-start; /* Changed from space-between to flex-start */
    height: 100vh;
    background-color: white;
    width: 100vw; /* Use the full viewport width */
    padding-top: 50px; /* Adjust this value based on the actual height of your header */
    padding-bottom: 50px; /* Adjust this value based on the actual height of your next button */
    box-sizing: border-box;
    text-align: center;
    overflow: hidden; /* Ensures no scrolling */
    color: black;
}

.nextButton {
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Align to the bottom */
    z-index: 1000; /* Ensures it stays on top of other content */
}

.questionBox {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px; /* Adjusted for better responsiveness */
    margin: 20px auto;
    flex-grow: 1;
    overflow-y: auto;
}

.questionImage {
    width: 100%; /* Full width of its container */
    max-height: 200px; /* Limiting the image height */
    object-fit: contain; /* Ensures the image is scaled properly */
    margin-bottom: 20px; /* Space between image and question text */
}

.options {
    width: 80%;
    max-width: 600px; /* Consistency with questionBox */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    outline: black;
}

/* No changes needed below this line, unless adjustments to paddings/margins are required for fitting */

.option {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 1.5vh;
    cursor: pointer;
    border: 0.1vh solid #ccc;
    border-radius: 5vh; /* Increased border-radius for curvy boxes */
    margin: 1vh 0;
    background-color: #FFF;
    font-size: 2vh;
    font-family: "Lexend", sans-serif;
    transition: background-color 0.3s ease;
    text-transform: none;
    color: black;
    outline: 0.1vh solid #706E9A; /* Added outline to the option boxes */
}


.optionBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #CCDBE6;
    transition: width 0.5s ease-in-out;
    z-index: 0;
    border-radius: 5vh;
    
    
}

.optionText {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-transform: none;
    color: black;
}

.responseData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5vh;
    font-size: 1.5vh;
    color: black;
    margin: 1vh 0;
}

.nextButton {
    padding: 2vh 4vh;
    font-size: 2vh;
    background-color: #706E9A;
    color: white;
    border: none;
    border-radius: 5vh;
    cursor: pointer;
    margin-top: 2vh;
    transition: background-color 0.3s ease;
}

.nextButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.nextButton:not(:disabled):hover {
    background-color: #5a4f7c;
}
