.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh; /* Consistent scaling with viewport */
    color: #333;
    background-color: #CCDBE6;
    width: 100vw; /* Full viewport width */
    overflow-y: hidden;
    overflow-x: hidden; /* Hide both horizontal and vertical overflow */
    
}

.title, .subtitle, .description, .h2 {
    text-align: center; /* Center all text */
    margin-bottom: 2vh; /* Consistent bottom margin */
}

.h2 {
    font-size: 5vh; /* Adjusted for better visibility across devices */
}

.shareContainer {
    margin: 2vh auto; /* Centered with automatic margins */
    text-align: center;
    width: 90vw; /* Slightly less than full width to accommodate padding */
}

.icons button {
    margin: 0 1vw; /* Horizontal margin based on viewport width */
    padding: 1vh 2vh; /* Button padding */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3rem; /* Increase the size of the icon */    
    
}

.compatibility {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2vh; /* Space above compatibility section */
}

.compatibilityItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 0;
    background-color: white;
    padding: 2vh;
    border-radius: 0.8vh;
    box-shadow: 0 0.2vh 0.4vh rgba(0,0,0,0.1);
    width: 80vw; /* Width responsive to viewport */
    max-width: 500px; /* Maximum width to prevent oversizing on large screens */
}

.compatibilityImage {
    width: 15vw; /* Adjusted for larger display */
    max-width: 120px; /* Maximum width to maintain aesthetics */
    height: auto;
    margin-bottom: 1vh;
}
