@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}



.download-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
    background-color: #f9f9f9;
}

.blog-container {
    text-align: center;
    padding: 2vh;
    background-color: #fff;
}
